<%= form_for @provider do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :provider_name %><br />
    <%= f.text_field :provider_name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p><%= f.submit %></p>
<% end %>
