<%= form_for(@document, :url => provider_documents_path) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :document_name %><br />
    <%= f.text_field :document_name %>
  </p>
  <p><%= f.submit %></p>
<% end %>
